@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Salsa&display=swap');

body {
    background-color: grey;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: 'Pixelify Sans', sans-serif;
}

.sub_title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: 'Pixelify Sans';
}

.containerHero {
  width: 500px;
  height: 200px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  gap: 10px;
  background-color: rgb(147, 147, 147);
}

.createHero {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  color: red;
  font-family: 'Salsa', cursive;
}

.photo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.rem_btn {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  color: purple;
  font-family: 'Salsa', cursive;
}

.rem_btn:hover {
  background-color: rgb(177, 177, 177);
  transition: 0.2s;
  cursor: pointer;
}

.container {
  padding-top: 60px;
}

